.card {
    /* background-color: rgba(240, 248, 255, 0.38);
    border-radius: 10%;
    padding: 20px;
    color: #260b03;
    margin-bottom: 50px; */
}

.all {
    /* background-color: #dff6f6bd;
    border-radius: 10%;
    padding: 25px; */
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    background: linear-gradient(to top, rgba(7, 22, 19, 0.062) 10%, rgba(183, 255, 251, 0.192) 200%);
}

.label {
    font-size: large;
    font-weight: bold;
    text-shadow: 3px 3px 5px #0000002b;
}

.image {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 20%, transparent 100%);
}

.text {
    text-shadow: 3px 3px 5px #0000002b;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}

.interactionContainer {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.interaction {
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;
    font-size: 90%;
}

.carouselContainer {
    display: grid;
    grid-template-columns: (3, 1fr);
}

.buttonSlide {
    background: transparent;
    border-color: transparent;
    font-size: larger;
    font-weight: bolder;
}

.buttonSlide:hover {
    background-color: #ffffff17;
    border-radius: 5rem;
}

@media (max-width: 768px) {
    .card {
        background-color: rgba(240, 248, 255, 0.38);
        border-radius: 8%;
        padding: 12px;
        color: #260b03;
        margin-bottom: 50px;
    }

    .all {
        background-color: #dff6f6bd;
        border-radius: 8%;
        padding: 2px;
    }

    .image {
        height: 80%;
        max-width: 90%;
    }

    .interactionContainer {
        margin-right: 20px;
    }

    .label {
        margin-top: 20px;
        padding: 10px;
    }
}