.videoLink {
    display: block;
    width: 100%;
    height: 300px;
    text-decoration: none;
    margin-top: 1%;
    opacity: 80%;
}

.videoLink:hover {
    opacity: 90%;
}

.teaserVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .videoLink {
        height: 120px;
        margin-top: 1%
    }
}