.videoLink {
    display: block;
    width: 100%;
    height: 300px;
    text-decoration: none;
    margin-top: 1%;
    opacity: 80%;

}

.teaserVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

@media (max-width: 768px) {
    .videoLink {
        display: block;
        width: 100%;
        height: 120px;
        text-decoration: none;
        margin-top: 1%
    }

    .teaserVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}