.container {
    padding: 10px;
    margin-top: 10%;
}

.songsContainer {
    margin-top: 4rem;
    padding: 10px;
    margin-left: 0.5rem;
}

.categoryTitle {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

.horizontalScroll {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 20px;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.Image {
    width: 50%;
    height: 50%;
    max-width: 200px;
    border-radius: 10px;
}

.headerInfo {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artistName {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.artistInfo {
    color: #d6d6d6;
    font-size: 14px;
}

.list {
    margin-top: 20px;
}

.track {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    transition: background 0.2s;
}

.trackNumber {
    color: #888;
    width: 25px;
}

.trackTitle {
    color: #fff;
    flex: 1;
}

.trackDuration {
    color: #888;
    width: 50px;
    text-align: right;
}

.groupsKindButton {
    cursor: pointer;
    background-color: #333;
    border: transparent;
    color: #d6d6d6;
    font-size: small;
    padding: 5px 10px;
    margin: 20px 2px;
    border-radius: 2rem;
}

.groupsKindButtonClicked {
    background-color: #d3d3d3;
    border: transparent;
    color: #292929;
    font-size: small;
    font-weight: bolder;
    padding: 5px 10px;
    margin: 10px 2px;
    border-radius: 2rem;
}

.groupsKindButton:hover {
    background-color: #646060;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.contactIcon {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0px 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.30s;
    opacity: 50%;
}

.contactIcon:hover {
    opacity: 90%;
}

.instagram {
    background-image: url("/assets/icons/instagram.png");
}

.facebook {
    background-image: url("/assets/icons/facebook.png");
}

.youtube {
    background-image: url("/assets/icons/youtube.png");
}

.twitter {
    background-image: url("/assets/icons/twitter.png");
}

.mail {
    background-image: url("/assets/icons/mail.png");
}

.track:hover {
    background-color: #333;
    border-radius: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        width: 380px;
        margin-top: -10%;
        margin-left: -25px;
    }

    .songsContainer {
        margin-top: 2rem;
        padding: 2px;
        margin-left: 0rem;
    }

    .headerInfo {
        width: 50%;
    }

    .horizontalScroll {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .Image {
        width: 35%;
        height: 35%;
        max-width: 200px;
    }

    .artistName {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .track {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #333;
        cursor: pointer;
        font-size: 14px;
    }

    .contactIcon {
        display: block;
        width: 35px;
        height: 35px;
        margin: 0px 2px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: background-image 0.30s;
        opacity: 50%;
    }
}