.container {
    padding: 10px;
    margin-top: 5%;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.albumImage {
    width: 35%;
    max-width: 200px;
    border-radius: 10px;
}

.headerInfo {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.albumName {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.artistInfo {
    color: #d6d6d6;
    font-size: 14px;
}

.artirtButton {
    color: #d6d6d6;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.artirtButton:hover {
    text-decoration: underline;
    color: #e6e6e6;
}

.track {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    min-height: 2.2rem;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.trackNumber {
    color: #888;
    width: 25px;
}

.trackTitle {
    color: #fff;
    flex: 1;
}

.trackDuration {
    color: #888;
    width: 50px;
    text-align: right;
}

.track:hover {
    background: linear-gradient(to right, #252525, #111112f1);
    border-radius: 0.5rem;
}

.backButton {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    background-color: rgba(212, 212, 212, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    opacity: 60%;
}

.icon:hover {
    width: 45px;
    height: 45px;
    opacity: 80%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .button {
        width: 38px;
        height: 38px;
    }

}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        width: 380px;
        margin-top: -10%;
        margin-left: -25px;
    }

    .albumImage {
        width: 35%;
        height: 35%;
        max-width: 200px;
    }

    .albumName {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .track {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #333;
        cursor: pointer;
        font-size: 14px;
        ;
    }
}