.container {
    padding: 10px;
    margin-top: 5%;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.albumImage {
    width: 35%;
    max-width: 200px;
    border-radius: 10px;
}

.headerInfo {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.albumName {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.artistInfo {
    color: #d6d6d6;
    font-size: 14px;
    margin-left: -0.5rem;
}

.artirtButton {
    color: #d6d6d6;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.artirtButton:hover {
    text-decoration: underline;
    color: #e6e6e6;
}

@media (max-width: 768px) {
    .button {
        width: 38px;
        height: 38px;
    }

}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        width: 380px;
        margin-top: -10%;
        margin-left: -25px;
    }

    .albumImage {
        width: 35%;
        height: 35%;
        max-width: 200px;
    }

    .albumName {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }
}