.categoryTitle {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

.horizontalScroll {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .horizontalScroll {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
}