.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 95%;
    height: 100%;
    margin-top: 4rem;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        position: absolute;
        max-width: 100%;
        left: 0;
        margin-top: 1rem;
        margin-left: 0.5rem;
        padding: 2px;
    }
}