.songRow {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    border-radius: 1rem;
    margin-left: -0.5rem;
}

.titleRow {
    min-width: 12rem;
    max-width: 17rem;
}

.text {
    color: #888;
}

.trackfeature {
    font-size: 0.75rem;
    color: #ffffff96;
}

.songTitle {
    color: #fff;
    flex-shrink: 0;
    margin-right: 8px;
    max-width: 20rem;
}

.songIndex {
    color: #888;
    width: 18px;
    margin-right: 8px;
    text-align: right;
}

.songImage {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
}

.tickerContainer {
    margin-left: 0.5rem;
    display: flex;
    width: 100%;
}

.tickerText {
    color: rgb(172, 172, 172);
}

.trackDuration {
    color: #888;
    width: 30px;
    text-align: right;
    margin-left: 8px;
}

.songRow:hover {
    background: linear-gradient(to right, #252525, #111112f1);
}

@media (max-width: 768px) {
    .songRow {
        max-width: 380px;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        border-bottom: 1px solid #333;
        cursor: pointer;
        font-size: 0.75rem;
    }

    .titleRow {
        min-width: 8rem;
        max-width: 12rem;
    }


    .text {
        color: #888;
        margin: 0 4px;
    }

    .songTitle {
        color: #fff;
        flex-shrink: 0;
        margin-right: 6px;
        max-width: 8.5rem;
    }

    .tickerContainer {
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .tickerText {
        display: inline-block;
        padding-left: 100%;
        animation: scroll 10s linear infinite;
        color: #928989;
        font-size: 11px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}