.container {
    display: flex;
    justify-content: center;
}

.playerContent {
    position: absolute;
    top: 200px;
    display: block;
    justify-items: center;
}

.infoRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

.title {
    margin: 0;
    font-size: 1.2rem;
    max-width: 15rem;
}

.artist {
    margin: 0;
    color: rgba(240, 248, 255, 0.6);
}

.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    z-index: 2;
}

.button {
    font-size: 1.5rem;
    background: #333;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    transition: background 0.2s;
}

.sliderRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 200%;
    max-width: 400px;
    margin-bottom: 1rem;
    z-index: 2;
}

.VolButton {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.volIcon {
    width: 40px;
    height: 40px;
    align-self: center;
    opacity: 60%;
}

.volIcon:hover {
    opacity: 95%;
}

.volIconActive {
    width: 40px;
    height: 40px;
    align-self: center;
    opacity: 75%;
}

.volIconActive:hover {
    opacity: 95%;
}

.time {
    color: #fff;
    font-size: 0.8rem;
    width: 35px;
    text-align: center;
}

.lyricsButton {
    text-decoration: double;
    font-weight: bolder;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    box-shadow: #252525 1fr 1fr;
    background-color: #33333375;
    color: #ffffff9d;
    border-color: #16161671;
}

.lyricsButton:hover {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    box-shadow: #000000 1fr 1fr;
    background-color: #494444;
    color: #fff;
    border-color: #33333300;
}

.lyricsDiv {
    width: 30rem;
    margin-left: 50rem;
    margin-top: 5rem;
    z-index: 9999;
    background-color: #ffffff8a;
    color: #000000;
    padding: 0.8rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Lucida Sans';
    line-height: 0.5rem;
}

@media (max-width: 768px) {
    .playerContent {
        position: absolute;
        top: 150px;
        display: block;
        justify-items: center;
    }

    .infoRow {
        margin-bottom: 2.5rem;
        margin-left: 0.5rem;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 12px;
    }

    .title {
        margin: 0;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        max-width: 15rem;
    }

    .sliderRow {
        margin-bottom: 0.5rem;
        width: 150%;
        max-width: 320px;
    }

    .controls {
        gap: 2rem;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
        z-index: 2;
    }

    .lyricsButton {
        margin-top: 0.5rem;
    }

}