.container {
    width: 100%;
    max-width: 600px;
    margin: 120px auto 0 auto;
    position: absolute;
    top: 500px;
}

.heading {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #00000025;
    border-radius: 1rem;
    padding-top: 0.5rem;
    line-height: 0.1rem;
    gap: 0.2rem;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 5px;
}

.list::-webkit-scrollbar {
    width: 12px;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 400px;
        margin: -30px auto 0 auto;
    }

    .list {
        gap: 0.3rem;
        max-height: 300px;
        padding-right: 5px;
    }
}