.container {
    width: 100%;
    max-width: 600px;
    margin: 120px auto 0 auto;
    position: absolute;
    top: 500px;
    padding: 0 10px;
}

.heading {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000025;
    border-radius: 1rem;
    padding: 0.5rem 10px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.list::-webkit-scrollbar {
    width: 12px;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

.lyrics {
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    line-height: 1rem;
    margin-bottom: 0.2rem;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 400px;
        margin: -30px auto 0 auto;
        padding: 0 10px;
    }

    .heading {
        font-size: 1rem;
    }

    .list {
        max-height: 300px;
        padding: 0.5rem 8px;
    }

    .lyrics {
        font-size: 0.9rem;
        line-height: 1rem;
        margin-bottom: 0.1rem;

    }
}