.container {
    z-index: 9999;
}

.infoRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: -0.6rem;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}

.title {
    margin: 0;
    font-size: 0.8rem;
    width: 8rem;
}

.trackFeature {
    font-size: 0.72rem;
    color: #ffffffc4;
}

.artist {
    margin: 0;
    color: rgba(240, 248, 255, 0.6);
    font-size: 0.7rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
}

.sliderRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 400px;
    margin-top: 1.5rem;
}

.time {
    color: #fff;
    font-size: 0.8rem;
    width: 35px;
    text-align: center;
}

.tickerContainer {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.tickerText {
    display: inline-block;
    max-width: 9rem;
    animation: scroll 10s linear infinite;
    color: #e4e4e4;
    font-size: 0.75rem;
}

.playerButton,
.smallPlayerButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/assets/icons/player.png");
    width: 120px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 500ms;
}

.smallPlayerButton {
    margin-top: 2rem;
}

.playerButton:hover {
    opacity: 1;
    transition: 500ms;
}

@keyframes scroll {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(-100%);
    }
}