<h1 class="sectionTitle">Portfolio Pages</h1>

<div class="portfolioPages">
  <a href="https://eclipseplayer.com/" target="_blank">
    <div class="projectBox epImg">
      <h3 class="textOverlay">Eclipse Player</h3>
    </div>
  </a>

  <a href="https://icvacations.netlify.app/" target="_blank">
    <div class="projectBox icvImg">
      <h3 class="textOverlay">IceCream Vacations</h3>
    </div>
  </a>

  <a href="https://grandeplayer.netlify.app/player" target="_blank">
    <div class="projectBox gpImg">
      <h3 class="textOverlay">Grande Player</h3>
    </div>
  </a>

  <a href="https://cardwizard.up.railway.app/" target="_blank">
    <div class="projectBox cwImg">
      <h3 class="textOverlay">Card Wizard</h3>
    </div>
  </a>
</div>
