.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.text2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}

.text3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .container {
        margin-top: 10px;
    }

    .notAvailable {
        font-size: 0.8rem;
        color: #949494;
        margin-left: 1rem;
    }
}