.playlistItem {
    padding: 10px 5px;
    background-color: #222;
    border-radius: 6px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    display: grid;
    grid-template-columns: 9rem 1rem;
}

.titleRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: left;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem 0.2rem;
}

.count {
    color: #979797da;
    font-size: 14px;
    margin-left: 5px;
    flex-shrink: 0;
}