.container {
    padding: 20px;
    margin-top: 20px;
}

.infoText {
    color: #aaa;
    font-size: 16px;
    margin-bottom: 10px;
}

.addButton {
    margin-top: 20px;
    padding: 12px;
    background-color: #555;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.addButton:hover {
    opacity: 0.8;
}

.playlistsContainer {
    display: grid;
    grid-template-columns: repeat(3, 12rem);

}