:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #111111;
}

.contactIcon {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    margin: 2rem 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.30s;
    opacity: 50%;
    
}

.contactIcon:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.gitHub {
    background-image: url("/icons/github.png");
}

.LinkedIn {
    background-image: url("/icons/linkedin.png");
}

.mail {
    background-image: url("/icons/mail.png");
}