.backButton {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    background-color: rgba(212, 212, 212, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    opacity: 60%;
}

.icon:hover {
    width: 45px;
    height: 45px;
    opacity: 80%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .icon {
        width: 30px;
        height: 30px;
    }

    .icon:hover {
        width: 35px;
        height: 35px;
    }
}