.deleteButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton:hover {
    opacity: 0.7;
}

.deleteButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.deleteText {
    color: #8b4646ff;
    font-weight: bold;
    font-size: 14px;

}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .deleteButton {
        margin-left: 10px;
    }

    .deleteText {
        color: #8b4646ff;
        font-weight: bold;
        font-size: 14px;
        margin-left: 3rem;
    }
}