.toggle {
    width: 40px;
    height: 22px;
    border-radius: 30px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle.on {
    background-color: #858585;
    border: 1px solid rgb(255, 255, 255)
}

.toggle.off {
    background-color: #202020;
    border: 1px solid rgb(126, 126, 126)
}

.knob {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease;
}

.toggle.on .knob {
    transform: translateX(20px);
    background-color: rgb(255, 255, 255);
}

.toggle.off .knob {
    transform: translateX(0);
    background-color: rgb(73, 73, 73);
}