.RegContainer {
    background-image: url(src/assets/form2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
    padding: 40px;
}

.text {
    color: #421406;
    font-weight: bold;
    margin-top: 60px;
}

.myInput {
    background-color: rgba(0, 0, 0, 0.46);
    border: 1px solid rgba(255, 255, 255, 0.556);
    border-radius: 25px;
    height: 30px;
    width: 250px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
}

.myInput::placeholder {
    color: rgba(240, 248, 255, 0.464);
}

.instructions {
    color: rgb(218, 252, 255);
    font-size: smaller;
    background-color: #1c1b1a;
    padding: 5px;

    width: auto;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.valid {
    font-size: larger;
    border-radius: 15px;
}

.invalid {
    font-size: small;
    border-radius: 15px;
}

.Registered {
    color: #ffffffac;
    font-size: small;
    text-decoration: double;
    margin-left: 200px;
}

.Registered:hover {
    color: #ffffff;
    text-decoration: double;
    text-shadow: 2px 2px 5px #000000;
}

.success {
    margin-top: 100px;
    font-size: large;
}

.SignIn {
    color: #fff0eb;
    text-decoration: double;
    font-size: x-large;

}

.SignIn:hover {
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}