/* =================== DESKTOP =================== */

.difCardWrapper {
    width: 70%;
    max-width: 700px;
    aspect-ratio: 16 / 6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.4rem auto;
    cursor: pointer;
    color: rgb(125, 180, 96);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.317);
    transition: transform 0.2s ease;
}

.difCardWrapper:hover {
    transform: scale(1.02);
    color: white;
    box-shadow: 0 4px 25px rgb(65, 0, 90);
    border: 2px solid rgb(145, 52, 182);
}

.difCardTitle {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 2.5vw;
    padding: 0.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.653);
}

.difCardImage {
    width: 80%;
    max-width: 95%;
    height: auto;
    object-fit: contain;
}

.difCardImage:hover {
    max-width: 95%;
}

.gameContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}

.tabBackground {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 200px repeat(1, 1fr);
    column-gap: 2rem;
    justify-content: left;
    align-items: center;
}

.locationsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin-right: 5rem;
}

.LocationCard {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/Back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 100px;
    aspect-ratio: 12.5 / 17.5;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    box-shadow: 1px 1px 5px black;
}

.playersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 150%;
    max-height: 100%;
    min-width: 90%;
    margin-right: 3rem;
}

.playerCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.playerCard {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 8px black;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    max-width: 800px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: black;
    min-width: 30px;
    min-height: 30px;
    border-radius: 60%;
    padding: 0.8rem;
}

.title {
    margin-left: 50px;
    margin-right: 1000px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    min-width: 55%;
    min-height: 30px;
    border-radius: 60%;
    padding: 1rem;
}

.name {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.859);
    border-radius: 10px;
    padding-left: 5px;
}

.stats {
    margin-top: 9rem;
    width: 38%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.859);
}


.statsImg {
    width: 32px;
    margin-bottom: 0.5rem;
}

.specStat {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: larger;
    font-weight: bolder;
}

.abilities {
    margin-top: 2.2rem;
    display: grid;
    grid-template-columns: 100px;
    justify-content: right;
}

.levithanAbilities {
    margin-top: 7.2rem;
    display: grid;
    grid-template-columns: 150px;
    row-gap: 50px;
    justify-content: right;
}

.ability {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.859);
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.ability:hover {
    transform: scale(1.02);
    background-color: rgb(65, 0, 90);
    font-size: larger;
}

.addCard {
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #64fc6b;
    text-shadow: 1px 1px 5px black;
    font-size: 3.8rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 12px;

    min-height: 400px;
    max-width: 800px;

}

.addCard:hover {
    transform: scale(1.03);
    transition: transform 15s ease;
    background-color: #eaff001e;
    border-color: #888;
    color: #b2ecb5;
    font-size: 3.3rem;
}

.selectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    min-width: 80%;
    min-height: 400px;
    margin: 1rem;
    border-radius: 12px;
}

.enemyDropdown {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 1.5rem;
}

.enemyLevel {
    font-family: 'Times New Roman', Times, serif;
}

.confirmButton {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 15px 25px;
    background: #308f33;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.confirmButton:hover {
    background: #3fac43;
    box-shadow: 1px 1px 15px rgba(73, 5, 110, 0.89);
    text-shadow: 1px 1px 5px #000000;

}

.removeButton {
    width: 10px;
    height: 10px;
    position: absolute;
    font-size: xx-large;
    cursor: pointer;
    color: #ff0000;
}

.removeButton:hover {
    position: absolute;
    font-size: x-large;
    z-index: 20;
    cursor: pointer;
    color: #ff0000;
}


/* =================== MOBILE =================== */

@media (max-width: 600px) {
    .difCardWrapper {
        width: 90%;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        margin: 1rem auto;
    }

    .difCardTitle {
        font-size: 1rem;
        padding: 0.3rem;
    }

    .gameContainer,
    .playersContainer {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .tabBackground {
        grid-template-columns: 100px repeat(1, 1fr);
    }

    .playerCard {
        max-width: 90%;
        height: 60%;
        margin: 0 auto 1.5rem;
    }

    .playerCol {
        grid-template-columns: 1fr 1fr;
    }

    .locationsContainer {
        max-width: 110px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin-left: 8.5rem;
    }

    .LocationCard {
        max-width: 90%;
        min-width: 110px;
        aspect-ratio: 10 / 14;
        margin: 0.5rem auto;
    }

    .level {
        font-size: medium;
        padding: 0.5rem;
        min-width: 25px;
        min-height: 25px;
    }

    .title {
        font-size: medium;
        margin: 0 auto;
        width: 90%;
        margin-left: 10px;
        margin-right: auto;
    }

    .name {
        font-size: 1.2rem;
    }

    .statsImg {
        width: 32px;
    }

    .specStat {
        font-size: medium;
    }

    .stats {

        max-width: 70px;
    }

    .abilities {
        margin-top: 0.1rem;

    }

    .ability {
        font-size: medium;
        padding: 0.4rem;
    }

    .ability:hover {
        font-size: medium;
        padding: 0.4rem;
    }
}