.heading {
  background-color: rgba(18, 43, 38, 0.308);
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 4rem;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .heading {
    font-size: small;
  }
}