.nav {
    background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 30%;
    height: auto;
}

@media (max-width: 768px) {
    .nav {
        height: 15vh;
    }

    .img {
        width: 60%;
        height: auto;
    }
}