.nav {
    background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 30%;
    height: fit-content;
}

@media (max-width: 768px) {

    .nav {
        background-image: url(/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 60%;
        height: fit-content;
    }
}