.all {
    font-size: larger;
    font-family: sans-serif;
    text-align: justify;
}

.main {
    display: flexbox;
    align-items: center;
    justify-items: center;
}

.sub1 {
    margin-right: 50px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    font-size: medium;
}

.sub2 {
    display: flexbox;
    align-items: center;
    justify-items: center;
    font-size: large;
}

.icon {
    background: linear-gradient(to left, #dadada69, #dadada55);
    border-radius: 500%;
    width: 50px;
    height: 25px;
    text-align: center;
    text-justify: center;
}