.commentSection {
    font-size: 80%;
}

.commentContainer {
    display: grid;
    grid-template-columns: auto 20px;
}

.commentUser {
    display: flex;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 5px;
}

.commentText2 {
    background-color: #191610;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px #0000002b;
    box-shadow: inset 2px 2px 15px #000000ee;
    margin-right: 25px;    
    height: auto;
    min-height: 40px;
    min-width: 450px;
}

@media (max-width: 768px) {
    .commentSection {
        margin-bottom: 10px;
        font-size: 75%;
    }

    .commentText2 {
        background-color: #ffffff07;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 3px #0000002b;
        box-shadow: inset 2px 2px 15px #00000000;
        height: 30px;
        min-width: 280px;
    }
}