.LogContainer {
    background-image: url(/assets/form2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
    padding: 40px;
}

.text {
    color: #421406;
    font-weight: bold;
    margin-top: 100px;
}


.myInput {
    background-color: rgba(0, 0, 0, 0.46);
    border: 1px solid rgba(255, 255, 255, 0.556);
    border-radius: 25px;
    height: 30px;
    width: 250px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
}

.myInput::placeholder {
    color: rgba(240, 248, 255, 0.574);
}


.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    color: #421406;
}

.success {
    margin-top: 100px;
    font-size: large;
}

.signInMsg {
    color: #ffffffac;
    font-size: small;
    text-decoration: double;
    margin-left: 150px;
}

.signInMsg:hover {
    color: #ffffff;
    text-decoration: double;
    text-shadow: 2px 2px 5px #000000;
}

@media (max-width: 768px) {
    .LogContainer {
        height: 600px;
        width: 100%;
    }
}