.LogContainer {
    background-image: url(/assets/DestCardImg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 10px;
}

.myForm {
    color: #cef5f2d7;
    font-weight: bold;
    margin-top: 100px;
}

.formGroup {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.myLabel {
    margin-right: 1rem;
}

.myInput {
    background-color: rgba(0, 0, 0, 0.46);
    border: 1px solid rgba(255, 255, 255, 0.556);
    border-radius: 25px;
    height: 30px;
    width: 250px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
}

.myInput::placeholder {
    color: rgba(240, 248, 255, 0.574);
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    color: #421406;
}

.success {
    margin-top: 100px;
    font-size: large;
}

.signInMsg {
    color: #ffffffac;
    font-size: small;
    text-decoration: double;
    margin-left: 150px;
}

.signInMsg:hover {
    color: #ffffff;
    text-decoration: double;
    text-shadow: 2px 2px 5px #000000;
}

@media (max-width: 768px) {
    .LogContainer {
        height: 600px;
        width: 95%;
        font-size: 0.9rem;
    }

    .myInput {
        background-color: rgba(0, 0, 0, 0.46);
        border: 1px solid rgba(255, 255, 255, 0.556);
        border-radius: 25px;
        height: 30px;
        width: 250px;
        text-align: center;
        text-justify: center;
        letter-spacing: 1.8px;
        margin-bottom: 10px;
    }

    .signInMsg {
        font-size: 0.9rem;
        margin-left: 80px;
    }
}