.all {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.8px;
    display: flexbox;
    justify-items: center;
}

.Container {
    background-color: rgba(219, 241, 236, 0.967);
    min-height: 200px;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    justify-items: left;
}

.logo {
    height: 65px;
    width: auto;
    margin-bottom: 25px;
}

.label {
    color: rgb(39, 22, 6);
    display: flex;
    text-align: left;
    margin-left: 25px;
    font-size: larger;
}

.label2 {
    color: rgb(39, 22, 6);
    display: flex;
    text-align: right;
    margin-left: 360px;
    font-size: larger;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}


.myInput1 {
    background-color: rgb(34, 31, 30);
    border: 1px solid rgba(255, 255, 255, 0.556);
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    max-width: 300px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin: 15px;
}

.myInput2 {
    background-color: rgb(34, 31, 30);
    border: 1px solid rgba(255, 255, 255, 0.556);
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    width: 630px;
    text-align: center;
    text-justify: center;
    margin: 15px;
}

.myInput3 {
    background-color: rgb(34, 31, 30);
    border: 1px solid rgba(255, 255, 255, 0.556);
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    width: 410px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin: 15px;
}

.myInput4 {
    background-color: rgb(34, 31, 30);
    border: 1px solid rgba(255, 255, 255, 0.556);
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    text-justify: center;
    letter-spacing: 1.8px;
    margin: 15px;
    margin-left: 100px;
}



.instructions {
    color: rgb(29, 5, 5);
    font-size: smaller;
    width: auto;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.valid {
    font-size: larger;
    border-radius: 15px;
}

.invalid {
    font-size: small;
    border-radius: 15px;
}

.success {
    margin-top: 100px;
    font-size: large;
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: repeat(2, 0.5fr);
        justify-content: center;
    }

    .Container {
        max-width: 550px;
        justify-items: left;
        padding-right: 60px;
    }

    .myInput1 {
        height: 35px;
        min-width: 150px;
    }

    .myInput2 {
        height: 35px;
        max-width: 550px;
    }

    .myInput3 {
        height: 35px;
        min-width: 100px;
    }

    .myInput4 {
        height: 35px;
        min-width: 30px;
        margin-left: 10px;
    }

    .label {
        font-size: large;
    }

    .label2 {
        margin-left: 168px;
        font-size: large;
    }
}