.footer {
    width: 100%;
    height: 10vh;
    background-image: url(/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}

.labeled {
    font-family: 'Times New Roman', Times;
    color: rgba(255, 255, 255, 0.51);
    text-shadow: 1px 1px 5px black;
    margin-left: 10%;
}

@media (max-width: 768px) {
    .footer {
        height: 80px;
        grid-template-columns: repeat(2, 1fr);
    }

    .labeled {
        font-family: 'Times New Roman', Times;

    }
}