.nav {
  background-image: url(/assets/nav1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navImage {
  margin-top: 2%;
  height: 60px;
  width: auto;
  margin-left: 25px;
}

.UserImage {
  height: 35px;
  width: auto;
  margin-left: 25px;
}

.navLinks {
  margin-top: 3%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 250px;
  font-weight: bold;
}

.navLinks2 {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 25px;
  margin-bottom: 250px;
  font-weight: bold;
  font-size: medium;
}

.navLink {
  color: #421406;
  text-decoration: double;
  margin-left: 25px;
  text-shadow: 3px 3px 15px #0000002b;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 18px;
  background-color: #91c7c725;
  box-shadow: 3px 3px 15px #0000002b;
  backdrop-filter: blur(8px);
  font-size: larger;
  border: solid #42140600;
  padding-left: 10px;
  padding-right: 10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* HOVERS */
.navLink:hover {
  color: #ffe2da;
  background-color: #55545455;
  border-radius: 18px;
  transition: color 0.40s;
  box-shadow: 3px 3px 15px #00000093;
}

.sidebar {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 9999;
  }

  .desktopOnly {
    display: none;
  }

  .navLogo {
    cursor: pointer;
  }

  .navLink {
    color: #c8ddde;
    background-color: #1c1b1a;
    max-width: 120px;
    padding: 5px;
    margin-top: 20px;
  }

  .sidebar {
    margin-top: 110px;
    display: flex;
    position: fixed;
    top: 0;
    left: -260px;
    width: 150px;
    height: 100%;
    background-color: #93c8c9cc;
    padding: 2rem 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.25s ease-in-out;
    z-index: 100;
    flex-direction: column;
    gap: 0.8rem;
    overflow-y: auto;
    font-size: small;
    border-radius: 10px;
  }

  .sidebar.open {
    left: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .navLink:hover {
    color: #421406;
    font-weight: bold;
    background-color: #dadadaaa;
    border-radius: 18px;
    transition: color 0.40s;
    box-shadow: 1.5px 1.5px 10px #000000f7;
  }

  .UserImage {
    height: auto;
    width: 50px;
  }
}