.nav {
  /* background-color: #96cdcd; */
  background-image: url(/assets/nav3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  max-height: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  z-index: 9999;
  top: -0.7%;
}

.navLogo {
  margin-top: 2%;
  margin-left: -15rem;
}

.navImage {
  height: 3rem;
  width: auto;
}

.UserImage {
  height: 28px;
  width: auto;
}

.navLinks {
  height: 40px;
  margin-top: 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20rem;
  font-weight: bold;
}

.navLinks2 {
  margin-top: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 15rem;
  margin-right: 5rem;
  margin-bottom: 21rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.sidebar {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    background-image: url(/assets/nav4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80px;
    max-height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    z-index: 9999;
    top: -0.7%;
    left: 0
  }

  .desktopOnly {
    display: none;
  }

  .navLogo {
    margin-left: 0rem;
    cursor: pointer;
  }

  .navImage {
    margin-top: 3%;
    width: 85%;
    height: auto;
  }

  .sidebar {
    display: flex;
    position: fixed;
    top: 4.5%;
    left: -200px;
    width: 1.5rem;
    height: 100%;
    background-color: #93c8c9cc;
    padding: 2rem 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.25s ease-in-out;
    z-index: 100;
    flex-direction: column;
    gap: 0.8rem;
    overflow-y: auto;
    font-size: small;
  }

  .sidebar.open {
    left: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .UserImage {
    height: auto;
    width: 50px;
  }
}