.nav {
  /* background-color: #96cdcd; */
  background-image: url(/assets/nav3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  max-height: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  z-index: 9999;
  top: -0.7%;
}

.navLogo {
  margin-top: 2%;
  margin-left: -15rem;
}

.navImage {
  height: 3rem;
  width: auto;
}

.UserImage {
  height: 28px;
  width: auto;
}

.navLinks {
  height: 40px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20rem;
  font-weight: bold;
}

.navLinks2 {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 15rem;
  margin-right: 5rem;
  margin-bottom: 21rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* HOVERS */
.navLink:hover {
  color: #ffe2da;
  background-color: rgb(57, 109, 109);
  border-radius: 18px;
  transition: color 0.40s;
  box-shadow: 3px 3px 15px #00000093;
  padding: 4px;

}

.sidebar {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 160%;
    height: 120px;
    z-index: 9999;
  }

  .desktopOnly {
    display: none;
  }

  .navLogo {
    margin-left: 0rem;
    cursor: pointer;
  }

  .navImage {
    margin-top: 2%;
    width: 85%;
    height: auto;
  }

  .navLink {
    color: #c8ddde;
    background-color: #1c1b1a;
    max-width: 120px;
    padding: 5px;
    margin-top: 20px;
  }

  .sidebar {
    margin-top: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: -200px;
    width: 150px;
    height: 100%;
    background-color: #93c8c9cc;
    padding: 2rem 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.25s ease-in-out;
    z-index: 100;
    flex-direction: column;
    gap: 0.8rem;
    overflow-y: auto;
    font-size: small;
    border-radius: 10px;
  }

  .sidebar.open {
    left: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .navLink:hover {
    color: #421406;
    font-weight: bold;
    background-color: #dadadaaa;
    border-radius: 18px;
    transition: color 0.40s;
    box-shadow: 1.5px 1.5px 10px #000000f7;
  }

  .UserImage {
    height: auto;
    width: 50px;
  }
}