.footer {
    background-image: url(/assets/foot3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 150px;
}

.footer:hover {
    background-image: url(/assets/foot3_hover.png);
    transition: background-image 0.40s;
}

.labeled {
    font-family: 'Times New Roman', Times;
    color: rgba(240, 248, 255, 0.285);
    margin-left: 100px;
}

@media (max-width: 768px) {
    .footer {
        height: 80px;
        grid-template-columns: repeat(2, 1fr);
    }

    .labeled {
        font-family: 'Times New Roman', Times;
        color: rgba(240, 248, 255, 0.285);
    }
}